h1 {
  color: #00adb5;
}

input[type="file"] {
  display: none;
}

.upload-button label {
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.circular-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); display: flex;
    justify-content: center;
    align-items: center;
  left: 50%; }
  100% { transform: rotate(360deg); display: flex;
    justify-content: center;
    align-items: center;
    left: 50%; }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
@media (max-width:700px) {
  .outer-container {
    flex-direction: column;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.leftText{
  font-family: 'Switzer-Light';
  font-size: 20px;
  width: 40%;
  margin-left: 5%;
  
}

.leftText h1{
  font-family: 'Switzer-Extrabold';
  font-size: 50px;
  
}

.leftText h1, .leftText p {
  opacity:0;
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


.dropZone {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 18px;
  text-align: center;
  cursor: pointer;
}

.dropZone.active {
  border-color: #008000;
  background-color: #e0ffe0;
}

.container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  background-color: #333333;
  color: #eee;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}


.upload-button {
  background-color: #00adb5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 15px;
}
