.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 100;
    align-items: center;
}

.login-modal {
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

input {
    color: black;
}

.success-message, .error-message {
    text-align: center;  
    font-size: 2em; 
    opacity: 0; 
    animation: fadeIn 1.5s ease-in forwards; 
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
  }

@keyframes fadeIn {
    0% { opacity: 0; transform: translate(-50%, -50%) rotate(-30deg); }
    50% { opacity: 1; transform: translate(-50%, -50%) rotate(0deg)}
    99% { opacity: 0; transform: translate(-50%, -50%) rotate(0deg)}
    100% { opacity: 0; transform: translate(-50%, -50%) rotate(-30deg)}
}
