<!doctype HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/output.css') }}">
</head>

<body class="background-color: rgb(30, 41, 59); background-image: radial-gradient(at 0% 100%, rgb(23, 23, 23) 0, transparent 100%);">
    <form method=post enctype="multipart/form-data">
        <div class="grid place-items-top justify-center">
        <h1 class="text-blue-600">Uploader</h1>
        </div>
            {# File upload #}
            <div class="grid items-center justify-center py-4">
                <label class="block  text-sm font-medium text-gray-900 dark:text-white" for="multiple_files">Upload multiple files</label>
                <input class="block w-96 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="multiple_files" type="file" name="file" multiple>
            </div>
            {# Dropzone #}
            <div class="flex items-center justify-center w-half">
                <label for="dropzone-file" class="flex flex-col items-center justify-center w-96 h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">MP3, ALAC, FLAC, WAV</p>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden" />
                    <input type="submit" value="upload"/>
                </label>
            </div>
    </form>
        </label>
    </div>
</body>
<script>
        const fileInput = document.querySelector('input[type="file"]');
        const graphContainer = document.getElementById('graph');

        fileInput.addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                const data = new FormData();
                data.append('file', file);

                fetch('/graph', {
                    method: 'POST',
                    body: data
                })
                .then(response => response.json())
                .then(result => {
                    graphContainer.innerHTML = `<img src="${result.image_url}" alt="Graph">`;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            };

            reader.readAsArrayBuffer(file);
        });
    </script>
</html>