<div>
    <div>
        <form action="upload.html" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Select image</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input">
                    <label class="custom-file-label">Select file</label>
                    <div id="graph"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
        const fileInput = document.querySelector('input[type="file"]');
        const graphContainer = document.getElementById('graph');

        fileInput.addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                const data = new FormData();
                data.append('file', file);

                fetch('/graph', {
                    method: 'POST',
                    body: data
                })
                .then(response => response.json())
                .then(result => {
                    graphContainer.innerHTML = `<img src="${result.image_url}" alt="Graph">`;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            };

            reader.readAsArrayBuffer(file);
        });
    </script>