h1 {
  color: #00adb5; /* Accent color */
}

input[type="file"] {
  display: none; /* Hide default file input */
}

label {
  background-color: #00adb5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.outer-container {
  background-color: #393e46; /* Slightly lighter background shade */
  display: flex;          /* Center the container */
  align-items: center;
  justify-content: center;
  min-height: 100vh;      /* Make it cover the window height */
}

.container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  background-color: #222831;
  color: #eee;
  padding: 20px;
  border-radius: 5px;
}


.upload-button {
  background-color: #00adb5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block; /* To make width adjust to content */
  margin-bottom: 15px;      /* Add space below the button */
}
